@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  .header-container {
    .navbar {
      z-index: 10;
      background-color: rgba(0, 0, 0, 0) !important;

      .nav-link {
        &.active {
          color: red;
        }
      }
    }
  }
}

// @media (min-width:1350px) {
//   .container,
//   .container-lg,
//   .container-md,
//   .container-sm,
//   .container-xl {
//     max-width: 1300px
//   }
// }
.pro-sidebar-inner {
  height: 100vh !important;
}

video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
